.debug{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 100px;
}

.debug1{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 300px;
}

.debug2{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 200px;
}

.debug3{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 500px;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

/*HEADER*/

header{
    background-color: #ffffff;
    height: 60px;
}

.logo-mobile{
    width: 50px;
}

header nav div .fa-bell{
    color: #FF8F00;
}

/*ALL DASHBOARD*/

.second-ct-container{
    height: calc(100vh - 60px);
}

/*SIDE MENU*/

.second-ct-container .container-fluid.menu{
    height: 100%;
}

.side-menu{
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

/*MAIN*/

.second-ct-container .container-fluid.main{
    height: 100%;
}

.blue-bar{
    background-color: #1B72E8;
    min-height: 50px;
}

.blue-bar .badge{
    background-color: rgba(0, 0, 0, 0.363) !important;
}

#plus-student{
   background-color: #1B72E8 !important;
   border: 1px solid white !important;
}