.debug{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 100px;
}

.debug1{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 300px;
}

.debug2{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 200px;
}

.debug3{
    background-color: rgba(0, 0, 255, 0.274);
    border: 1px solid black;
    min-height: 500px;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

/*HEADER*/

header{
    background-color: #ffffff;
}

header .ct-container{
    height: 7vh;
}

.logo-mobile{
    width: 50px;
}

header nav div .fa-bell{
    color: #FF8F00;
}

/*ALL DASHBOARD*/

.second-ct-container{
    height: 93vh;
}

/*SIDE MENU*/

.second-ct-container .container-fluid.menu{
    height: 100%;
}

.side-menu{
    height: 100%;
    width: 200px; 
    background-image: url(../img/sidebar-bg.png);
}

/*MAIN*/

.second-ct-container .container-fluid.main{
    height: 100%;
}