body{
    min-width: 372px;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

/*HEADER*/

header{
    background-color: #ffffff;
    height: 60px;
}

.logo-mobile{
    width: 40px;
}

header nav div .fa-bell{
    color: #FF8F00;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    position: absolute;
    left: -102px;
}

.nav-item:hover,
.nav-link:last-of-type:hover{
    background-color: rgba(128, 128, 128, 0.445);
}

/*ALL DASHBOARD*/

.second-ct-container{
    height: calc(100vh - 60px);
}

/*SIDE MENU*/

.second-ct-container .container-fluid.menu{
    height: 100%;
}

.side-menu{
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

/*MAIN*/

.second-ct-container .container-fluid.main{
    height: 100%;
    background-color: #F8F9FA;
}

.blue-bar{
    background-color: #1B72E8;
    min-height: 50px;
}

.blue-bar .badge{
    background-color: rgba(0, 0, 0, 0.363) !important;
}

#plus-student{
   background-color: #1B72E8 !important;
   border: 1px solid white !important;
}

.offcanvas {
    --bs-offcanvas-width: 800px;
}

.card .table .fa-code{
    background-color: #F26551;
    border-radius: 100%;
    font-size: 20px;
}




